<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    ">
	
	<bean class="com.springcorefirst.Student" name="student">
		<!-- additional collaborators and configuration for this bean go here -->
		<property name="studentId">
		<value>33
		</value>
		</property>
		<property name="studentName">
		<value>rohan
		</value>
		</property>
		<property name="studentAddress">
		<value>delhipune
		</value>
		</property>
	</bean>
	<!-- more bean definitions for data access objects go here -->
</beans>
